@keyframes cloud-left {
    0% {
        transform: translateX(-20px);
    }
    /* dịch sang trái */
    50% {
        transform: translateX(0px);
    }
    /* dịch sang phải */
    100% {
        transform: translateX(-20px);
    }
    /* quay lại trái */
}

@keyframes cloud-right {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

.animate-cloud-left {
    animation: cloud-left 5s ease-in-out infinite;
}

.animate-cloud-right {
    animation: cloud-right 5s ease-in-out infinite;
}

/*@font-face {
    font-family: "HP-Bodon";
    src: url("HP-Bodon-Poster-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "HP-Bodon", serif;
}*/